// Core variables and mixins
@import "../bower_components/bootstrap-sass/lib/variables";
@import "../bower_components/bootstrap-sass/lib/mixins";

// Reset
@import "../bower_components/bootstrap-sass/lib/normalize";

// Core CSS
@import "../bower_components/bootstrap-sass/lib/scaffolding";
@import "../bower_components/bootstrap-sass/lib/type";
@import "../bower_components/bootstrap-sass/lib/code";
@import "../bower_components/bootstrap-sass/lib/grid";
@import "../bower_components/bootstrap-sass/lib/tables";
@import "../bower_components/bootstrap-sass/lib/forms";
@import "../bower_components/bootstrap-sass/lib/buttons";

// Components
@import "../bower_components/bootstrap-sass/lib/component-animations";
@import "../bower_components/bootstrap-sass/lib/glyphicons";
@import "../bower_components/bootstrap-sass/lib/dropdowns";
@import "../bower_components/bootstrap-sass/lib/button-groups";
@import "../bower_components/bootstrap-sass/lib/input-groups";
@import "../bower_components/bootstrap-sass/lib/navs";
@import "../bower_components/bootstrap-sass/lib/navbar";
@import "../bower_components/bootstrap-sass/lib/breadcrumbs";
@import "../bower_components/bootstrap-sass/lib/pagination";
@import "../bower_components/bootstrap-sass/lib/pager";
@import "../bower_components/bootstrap-sass/lib/labels";
@import "../bower_components/bootstrap-sass/lib/badges";
@import "../bower_components/bootstrap-sass/lib/jumbotron";
@import "../bower_components/bootstrap-sass/lib/thumbnails";
@import "../bower_components/bootstrap-sass/lib/alerts";
@import "../bower_components/bootstrap-sass/lib/progress-bars";
@import "../bower_components/bootstrap-sass/lib/media";
@import "../bower_components/bootstrap-sass/lib/list-group";
@import "../bower_components/bootstrap-sass/lib/panels";
@import "../bower_components/bootstrap-sass/lib/wells";
@import "../bower_components/bootstrap-sass/lib/close";

// Utility classes
@import "../bower_components/bootstrap-sass/lib/utilities";
@import "../bower_components/bootstrap-sass/lib/responsive-utilities";

@import "pageTransitions";


$main-content-columns: 6;
$counter: 1;
$delay: .25;

@while $counter < $main-content-columns + 1 {
	#content .col-md-4:nth-child(#{$counter}) {
		animation-delay: #{$delay}s;
		animation-duration: .5s;
	}
	$delay: $delay + 1/10 !global;
	$counter: $counter + 1 !global;
}